<div class="container">
	<!-- the mainbody -->
		<!-- the training programs goes here -->
		<div class="row">
		  <div class="carousel carousel-slider" style="margin-top: 70px">
		  	<div class="carousel-fixed-item center">
		  		<div class="white-text" style="font-family: 'Balsamiq Sans';background-color: rgba(24,118,210,0.5); font-size: 20px"><b>
			  			Wanna teach your goldfish some new tricks?</b>
			  	</div>
			  	<div class="white-text" style="font-family: 'Balsamiq Sans';background-color: rgba(0,0,0,0.5); letter-spacing:0.1em">
			  		Click here to contact one of our trainers now!
			  	</div>
			    <div class="button_cont" align="center">
		    		<a class="example_d" rel="nofollow noopener"><b>Click here</b>
		    		</a>
	    		</div>
	    	</div>
	    	<div class="button_cont" align="center">
	    		<a class="example_d" href="add-website-here" target="_blank" rel="nofollow noopener">Add Call to Action
	    		</a>
	    	</div>
		    <a class="carousel-item" href="#one!"><img src="https://lorempixel.com/800/400/food/1"></a>
		    <a class="carousel-item" href="#two!"><img src="https://lorempixel.com/800/400/food/2"></a>
		    <a class="carousel-item" href="#three!"><img src="https://lorempixel.com/800/400/food/3"></a>
		    <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/800/400/food/4"></a>
		</div>

		<div class='row center white-text' style="background-color:#64B5F6; margin-top:15px; font-size: 30px; font-family:'ubuntu'">
			List of Training Programs
		</div>

		<div class="row valign-wrapper">
			<!-- rows 1 of training program -->
			<div class="col s3">
				<div class='card hoverable'>
					<div class="card-image">
						<%= link_to program_path(@programs.first) do %>
						  <%= image_tag program.image.first.image_url %>
						<% end %>
						<!-- <img src="https://cdn.thisiswhyimbroke.com/images/goldfish-soccer-game-training-kit-640x533.jpg"></img> -->
		        <span class="innertext">
		        	Soccer
		        </span>
		      </div>
		    </div>
			</div>
			<div class="col s3">
				<div class='card hoverable'>
					<div class="card-image">
						<img src="http://petshoptop.ru/media/fe/7b/3e/fe7b3e782fcd459ca27b7695b42dac79/578fc885aaba2.jpg">
		        <span class="innertext">
		        	Basketball
		        </span>
		      </div>
		    </div>
			</div>
			<!-- rows 2 of training program -->
			<div class="col s3">
				<div class='card hoverable'>
					<div class="card-image">
						<img src="http://petshoptop.ru/media/8e/d2/0f/8ed20fb63484a13d6e8da038b71b78bf/578fc89c25579.jpg">
		        <span class="innertext">
		        	Tricks
		        </span>
		      </div>
		    </div>
			</div>
			<div class="col s3">
				<div class='card hoverable'>
					<div class="card-image">
						<img src="https://i0.wp.com/hybridtechcar.com/wp-content/uploads/2013/11/ribka_02.jpg?resize=650%2C497">
		        <span class="innertext">
		        	Football
		        </span>
		      </div>
		    </div>
			</div>
		</div>
	</div>
</div>