

<div class="container" style="border: 2px solid black">
	<!-- the mainbody -->
		<!-- the training programs goes here -->
		<div class="row">
		  <div class="carousel carousel-slider" style="border: 2px solid blue;margin-top: 70px">
		  	<div class="carousel-fixed-item center">
	      	<a class="btn waves-effect white grey-text darken-text-2">Click Here</a>
	    	</div>
		    <a class="carousel-item" href="#one!"><img src="https://lorempixel.com/800/400/food/1"></a>
		    <a class="carousel-item" href="#two!"><img src="https://lorempixel.com/800/400/food/2"></a>
		    <a class="carousel-item" href="#three!"><img src="https://lorempixel.com/800/400/food/3"></a>
		    <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/800/400/food/4"></a>
		  </div>
		</div>

		<!-- Video container -->
		<!-- <div class="video-container" style="margin: 100px">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/L_Iznh9VbsY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div> -->
		<div class="row">
			<!-- rows 1 of training program -->
			<div class="tprogram row">
				<div class="col s6">
					<div class='card hoverable'>
						<div class="card-image">
							<img src="https://cdn.thisiswhyimbroke.com/images/goldfish-soccer-game-training-kit-640x533.jpg"></img>
							<div class="row" style="border: 2px blue solid">
				        <span class="innertext">
				        	Training Program - Soccer
				        </span>
				      </div>
			      </div>
			    </div>
				</div>
				<div class="col s6">
					<img src="http://petshoptop.ru/media/fe/7b/3e/fe7b3e782fcd459ca27b7695b42dac79/578fc885aaba2.jpg">
				</div>
			</div>
			<!-- rows 2 of training program -->
			<div class="tprogram row">
				<div class="col s6">
					<img src="http://petshoptop.ru/media/8e/d2/0f/8ed20fb63484a13d6e8da038b71b78bf/578fc89c25579.jpg">
				</div>
				<div class="col s6">
					<img src="https://i0.wp.com/hybridtechcar.com/wp-content/uploads/2013/11/ribka_02.jpg?resize=650%2C497">
				</div>
			</div>
		</div>
	</div>
</div>