<div class='container'>
	<div class="row">
	  <div class="carousel carousel-slider" style="margin-top: 70px">
	    <a class="carousel-item" href="#one!"><img src="https://lorempixel.com/800/400/food/1"></a>
	    <a class="carousel-item" href="#two!"><img src="https://lorempixel.com/800/400/food/2"></a>
	    <a class="carousel-item" href="#three!"><img src="https://lorempixel.com/800/400/food/3"></a>
	    <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/800/400/food/4"></a>
	  </div>
	</div>
	<div class='row'>
		<ul class="collapsible">
			<% @programs.each do |program| %>
		    <li>
		      <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
		      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
		    </li>
		  <% end %>
  </ul>
	</div>
</div>