<div class='container'>
	<div class="row">
	  <div class="carousel carousel-slider" style="margin-top: 70px">
	  	<div class="carousel-fixed-item center">
	  		<div class="white-text" style="font-family: 'Balsamiq Sans';background-color: rgba(24,118,210,0.5); font-size: 20px"><b>
		  			Wanna teach your goldfish some new tricks?</b>
		  	</div>
		  	<div class="white-text" style="font-family: 'Balsamiq Sans';background-color: rgba(0,0,0,0.5); letter-spacing:0.1em">
		  		Click here to contact one of our trainers now!
		  	</div>
      	<div class="button_cont" align="center">
	    		<a class="example_d" rel="nofollow noopener">
	    			<b>Click here</b>
	    		</a>
	    	</div>
    	</div>
	    <a class="carousel-item" href="#one!"><img src="https://lorempixel.com/800/400/food/1"></a>
	    <a class="carousel-item" href="#two!"><img src="https://lorempixel.com/800/400/food/2"></a>
	    <a class="carousel-item" href="#three!"><img src="https://lorempixel.com/800/400/food/3"></a>
	    <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/800/400/food/4"></a>
	  </div>
	</div>
	<div class='row'>
		<ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul>
	</div>
</div>