body {
  background-color: purple;
  margin: 0px;
  padding: 0px;
}

.tprogram div img {
	width:100%
}

.carousel-slider {
    height: 400px !important;
}

.card {
	margin:0px
}

.innertext {
	position: absolute;
	bottom: 3px;
	left: 0px;
	font-size: 14px;
	color: #fff;
	width: 100%;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.6);
}


/*Name underline style*/
.btnline {
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
  background-color: rgba(0,0,0,0.5);
}
.btnline :after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.btnline :hover:after {
	color: #fff;
  width: 100%;
  left: 0;
}
.btnline :hover {
	color: #fff;
}

/* Line to box border button style*/
.example_d {
color: #fff !important;
background: rgba(0,0,0,0);
font-size: 14px;
padding: 3px 12px;
margin-top: 5px;
border: 2px solid #fff !important;
display: inline-block;
transition: all 0.3s ease 0s;
}

.example_d:hover {
color: #fff !important;
border-radius: 20px;
background: rgba(0,0,0,0.8);
border-color: #fff !important;
transition: all 0.3s ease 0s;
}

/* Line to box border button style for login button*/
.example_d2 {
color: #039BE5 !important;
background: rgba(0,0,0,0);
font-size: 14px;
padding: 3px 10px;
margin-top: 5px;
border: 0 solid #000 !important;
display: inline-block;
transition: all 0.3s ease 0s;
line-height: 1;
}

.example_d2:hover {
color: #fff !important;
border-radius: 20px;
background: rgba(0,0,0,0.8);
border-color: #fff !important;
transition: all 0.3s ease 0s;
}

/* Line to box border button style for login button*/
.example_d3 {
color: #039BE5 !important;
background: rgba(0,0,0,0);
font-size: 14px;
padding: 3px 10px;
margin-top: 5px;
border: 2px solid #039BE5 !important;
display: inline-block;
transition: all 0.3s ease 0s;
}

.example_d3:hover {
color: #fff !important;
border-radius: 20px;
background: rgba(0,0,0,0.8);
border-color: #fff !important;
transition: all 0.3s ease 0s;
}

.icons {
	padding:0;
	width:25px;
	margin:0 10px;
}

.logo {
	height: 60px;
	border: 0px solid #01579b;
	border-radius: 10px;
	margin-top: 2px
}
.indicator-item {
	margin: 0;
}

.collapsible-body {
	background-color: #eeeeee;
}
.showImg {
	max-height: 210px;
	max-width: 300px;
}